@charset "utf-8";
/* CSS DOCUMENT*/
body{
    padding: 20px;
    font-family: 'Roboto',sans-serif;
    background-color:#383838;
    color: white;
}

#about{
    text-align: center;
    border-style: solid;
    border-color: orange;
    margin-bottom: 2em;
    color:orange;
}
.aboutText{
    word-break: break-word;
    text-align: center;
    color:white;
    width: 60%;
    margin: 3% 20% 3% 20%;
    font-size: 1.5em;
}
.date{
    margin-left: -0.65em;
    margin-top: 2em;
    background-color: orange;
    color: #383838;
    width: 9em;
    font-size: 1.5em;
    text-align: right;
}
#goals{
    text-align: center;
    border-style: solid;
    margin-bottom: 2em;
    color:dodgerblue;
    border-color: dodgerblue;
}
#goalsHeading{
    margin-top: 3%;
}
ol{
    text-align: left;
    width: 60%;
    margin: 0 20% 0 20%;
    color: white;
    padding: 0.5em 0 0.5em 0;
    font-size: 1.5em;
}

#personaContainer{
    margin-top: 2em;
    margin-bottom: 2em;
    border-style: solid;
    border-color: #ff3300;

}

#personaHeading{
    color: #ff3300;
    text-align: center;
    margin-top: 2em;
}
#markoMorgano{
    margin-left: -0.56em;
    margin-top: 2em;
    background-color: #ff3300;
    color: #383838;
    width: 9em;
    text-align: right;
    font-size: 2em;
}
.personaRow{
    margin-top: 1em;
    font-size: 1.5em;

}

#jennifer{
    margin-left: -0.56em;
    margin-top: 2em;
    background-color: #ff3300;
    color: #383838;
    width: 9em;
    font-size: 2em;
    text-align: right;
}


