<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base}">
    <head>
        <title>About</title>
    </head>
    <body>
        <main layout:fragment="content">                
            <div class="date">
                <strong th:text="${#temporals.format(localDateTime, 'dd/MMM/yyyy HH:mm')}">
                    dd/MMM/yyyy HH:mm
                </strong>
            </div>
            <div class="container" id="about">

                <h1 class="about-heading">About us</h1>
                <div class="aboutText">
                    <p>We are Damian, Dominik and Jenny, three computer science students at HTW.
                        Our project is a website for creating a better connection in the e-Sports community of Berlin.</p>
                </div>
            </div>
            <div class="container" id="goals">
                <h1 class="about-heading">Goals</h1>
                <ol>
                    <li>Improve communication and connections in-/between the different eSport clubs in cities</li>
                    <li>Make eSport clubs more approachable</li>
                    <li>Support (event) planning processes</li>
                </ol>
            </div>
            <div class="container" id="persona-container">
                <h1 class="about-heading">User Personas</h1>
                <h2 class="persona-heading">Marko Morgano</h2>
                <div class="container">
                    <div class="personaRow">
                        <div class="row" id="personaRow">
                            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                <ul class="personaList">
                                    <li>Demographic
                                        <ul>
                                            <li>around 25 years old</li>
                                            <li>participant in the e-Sport initiative of the HTW-Berlin</li>
                                            <li>lives in berlin</li>
                                            <li>works as an IT-guy</li>
                                            <li>lives with his girlfriend</li>
                                            <li>earns a little bit of money</li>
                                        </ul>
                                    </li>
                                    <li>Habits
                                        <ul>
                                            <li>plays video games</li>
                                            <li>manages e-Sport initiative</li>
                                            <li>LARP</li>
                                            <li>studies IT</li>
                                            <li>communicates with other e-Sport clubs in berlin</li>
                                            <li>recognizeable because beard and big black coat and long hair and boots</li>
                                        </ul>
                                    </li>
                                    <li>Goals
                                        <ul>
                                            <li>recognition/success of e-Sports in a university context</li>
                                            <li>more e-Sport Clubs in Berlin</li>
                                            <li>a network between the e-Sports clubs of universities in Berlin</li>
                                        </ul>
                                    </li>
                                    <li>Needs
                                        <ul>
                                            <li>better communication within the initiative</li>
                                        </ul>
                                    </li>
                                    <li>Real People Examples
                                        <ul>
                                            <li>Mark Morgan</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-5 offset-md-1 col-lg-5 offset-lg-1 col-sm-12 col-xs-12">
                                <img src="/static/images/public/mark.png" class="img-fluid" alt="Marko Morgano"/>
                            </div>
                        </div>
                    </div>
                </div>
                <h2 class="persona-heading">Jennifer</h2>
                <div class="container">
                    <div class="personaRow">
                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                <ul>
                                    <li>Demographic
                                        <ul>
                                            <li>around 22 years old</li>
                                            <li>student at HTW-Bärlin</li>
                                            <li>lives in berlin</li>
                                            <li>works sometimes</li>
                                            <li>lives with her boyfriend</li>
                                            <li>earns a little bit of money</li>
                                        </ul>
                                    </li>
                                    <li>Habits
                                        <ul>
                                            <li>plays computer games</li>
                                            <li>studies IT</li>
                                            <li>likes to read</li>
                                            <li>does archery</li>
                                            <li>recognizeable by knitting in lectures</li>
                                        </ul>
                                    </li>
                                    <li>Goals
                                        <ul>
                                            <li>enjoy playing computer</li>
                                            <li>find out more about eSports</li>
                                        </ul>
                                    </li>
                                    <li>Needs
                                        <ul>
                                            <li>a source of information about eSports</li>
                                        </ul>
                                    </li>
                                    <li>Real People Examples
                                        <ul>
                                            <li>Jenny Illbruck</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-5 offset-md-1 col-lg-5 offset-lg-1 col-sm-11 col-xs-12">
                                <img src="/static/images/public/me.jpg" class="img-fluid" alt="Jennifer"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
