<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base}">
<head>
    <meta charset="UTF-8">
    <title>List of Profiles</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no">
</head>
<body>
<main layout:fragment="content">
    <class="container" id="headingCont">
        <h1>Your Groups</h1>
        <div th:each="group: ${groups}">
            <a class="btn" th:text="${group.name}" th:href="@{/groups/{path}(path=${group.uri})}">Gruppe</a> 
        </div>
    <br/>
    </div>
    <div>
        <a href="/groups/new" class="btn" id="newGroupBtn">Create new Group</a>
    </div>
</main>
</body>
</html>
