<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base}">
<head>
    <title th:text="${group.name}"/>
</head>
<body>
<main layout:fragment="content">
    <div class="container group-container">
        <div class="row">
            <div class="col-md-4">
                <div class="group-img">
                    <img th:src="@{../static/images/public/group_default.png}" class="img-responsive" alt="group picture"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="group-head">
                    <h2 th:text="${group.name}"></h2>
                </div>
            </div>
            <div class="col-md-2" th:if="${has_group_edit_access}">
                <a class="btn" th:href="@{/groups/{path}/edit (path=${group.uri})}" id="edit">Edit Group</a>
                <form th:action="@{/groups/{path}/add_user (path=${group.uri})}" method="post">
                    <label for="token">Group token:</label>
                    <input id="token" name="token" type="text">
                    <button type="submit" id="addUserBtn" class="btn">Add user to group</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="group-links">
                    <a th:href="@{/groups/{path}/posts (path=${group.uri})}" id="showPostsBtn">Group posts</a>
                </div>
            </div>
            <div class="col-md-9 tab-column">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                    </li>
                </ul>
                <div class="tab-content group-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>About Us</label>
                            </div>
                            <div class="col-md-6">
                                <p th:text="${group.about}" class="aboutTextGroup">about...</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Active in</label>
                            </div>
                            <div class="col-md-6">
                                <p th:text="${group.city}" id="cityField">location...</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Games</label>
                            </div>
                            <div class="col-md-6">
                                <p th:text="${group.game}" id="gameField">games...</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Members</label>
                            </div>
                            <div class="col-md-6">
                                <div class="row" th:each="user: ${group.users}">
                                    <a th:href="@{/profiles/{uri}(uri=${user.profile.uri})}" th:text="${user.profile.username}"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="calendar" role="tabpanel" aria-labelledby="group-tab">
                        to be implemented
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
