<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base}">
<head>
    <meta charset="UTF-8">
    <title>List of Profiles</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no">
</head>
<body>
<main layout:fragment="content">
    <div class="container" id="headingCont">
        <h1>Your Groups</h1>
        <div>
            <a href="/groups/new">Create new Group</a>
        </div>
        <div th:each="group: ${groups}">
            <form th:action="@{/groups/{path}(path=${group.uri})}">
                <button type="submit" class="groupButton" th:text="${group.name}">Group</button>
            </form>
        </div>
    </div>
</main>
</body>
</html>
