<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base}">
<head>
    <title>Profile</title>
    <script src="/static/js/sutLoader.js">

    </script>
</head>
<body>
<main layout:fragment="content">
    <div class="container profile-container">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img th:src="@{../static/images/public/profile.png}" class="img-responsive" alt="profile picture"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h2 th:text="${profile.username}"></h2>
                    <p class="experience">E-sports Experience : <span>Dragonslayer</span></p>
                </div>
            </div>
            <div class="col-md-2" th:if="${is_my_profile}">
                <form th:action="@{/profiles/{path}/edit (path=${profile.uri})}">
                    <button type="submit" id="edit">Edit Profile</button>
                </form>
                <script th:inline="javascript">
                    var profileUri = /*[[${profile.uri}]]*/
                </script>
                <div class="single-use-token">
                    <button onclick="loadSut('.token', profileUri)">Create new Single-Use-Token</button>
                    <span class="token"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="profile-links">
                    <p>E-SPORT CLUBS</p>
                    <a href="">Link to club</a><br/>
                    <p>Platforms</p>
                    <a href="">Dummy Steam</a><br/>
                    <a href="">Dummy Discord</a><br/>
                    <a href="">Dummy whatever</a><br/>
                </div>
            </div>
            <div class="col-md-9 tab-column">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#calendar" role="tab" aria-controls="profile" aria-selected="false">Calendar</a>
                    </li>
                </ul>
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Favorite games</label>
                            </div>
                            <div class="col-md-6">
                                <p th:text="${profile.game}" id="gameField"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Favourite Genre</label>
                            </div>
                            <div class="col-md-6">
                                <p th:text="${profile.genre}" id="genreField">RPG</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Lives in</label>
                            </div>
                            <div class="col-md-6">
                                <p th:text="${profile.city}" id="cityField">Berlin</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Hobbies</label>
                            </div>
                            <div class="col-md-6">
                                <p th:text="${profile.hobby}" id="hobbyField">Berlin</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="calendar" role="tabpanel" aria-labelledby="profile-tab">
                        to be implemented
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
