<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base}">
<head>
    <meta charset="UTF-8">
    <title>List of Profiles</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/styles.css}" href="../static/css/styles.css">


</head>
<body>
<main layout:fragment="content">
    <div class="container" id="headingCont">
<h1>Discover other users!</h1>
<div th:each="profile: ${profiles}">
    <form th:action="@{/{path}(path=${profile.uri})}">
        <button type="submit" id="profileButton" th:text="${profile.username}">Profile</button>
    </form>
</div>
    </div>
</main>
</body>
</html>